:root {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.33);
  height: 100%; }

body {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat; }

.reg-form {
  margin-top: 15px;
  margin-left: 0; }
  .reg-form label {
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 220px; }
  .reg-form input {
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0; }
  .reg-form input[type="radio"] {
    width: 160px; }

.avatar {
  background-color: cadetblue; }

header {
  background-color: rgba(0, 102, 0, 0.71);
  height: 70px;
  box-shadow: 0 10px 20px #484848; }
  header .logo {
    position: relative;
    top: 8px;
    left: 8px;
    border: solid black 2px; }
  header #main-menu {
    position: relative;
    bottom: 19px;
    left: 170px;
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #00cc00; }
    header #main-menu li {
      margin-left: -3px; }
    header #main-menu a {
      width: 80px;
      height: 34px;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      text-decoration: none;
      font-family: "Roboto Black";
      font-size: 16px;
      border-left: solid 1px gray;
      border-top: solid 1px gray;
      border-bottom: solid 1px gray; }
    header #main-menu a:hover {
      background-color: #c4e953; }
  header #user-menu {
    position: relative;
    left: 790px;
    bottom: 75px; }
    header #user-menu a {
      text-decoration: none;
      color: #33CC00;
      font-family: "Roboto Medium";
      width: 70px; }
    header #user-menu a:hover {
      color: #c4e953; }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      display: inline;
      text-align: center; }
      header ul li a {
        display: inline-block; }
  header form#form-search {
    position: relative;
    bottom: 70px;
    left: 650px; }
    header form#form-search input#search-text {
      width: 220px; }
    header form#form-search input#search-submit {
      position: relative;
      left: 15px;
      width: 60px; }

div.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  height: 310px;
  margin: 0 auto;
  justify-content: space-between; }

h1.gallery {
  font-family: "Roboto Black";
  font-size: 48px;
  margin-left: 80px;
  margin-right: 90px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333333;
  text-shadow: 4px 4px 4px #6a6a6a; }

img.gallery {
  box-shadow: 5px 5px 5px #575757; }

footer {
  background-color: #666666;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer section {
    color: white; }
    footer section h3 {
      font-family: "Roboto Medium";
      font-size: 16px; }
    footer section a {
      color: white;
      text-decoration: none;
      font-family: Roboto;
      font-size: 12px; }
    footer section a:hover {
      color: #7fffd4;
      text-decoration: none; }
    footer section a:visited {
      text-decoration: none; }
    footer section a:focus {
      color: coral;
      text-decoration: none; }
    footer section p {
      font-family: Roboto;
      font-size: 12px; }
    footer section ul {
      margin: 0;
      padding: 0; }
      footer section ul li {
        list-style-type: none; }
  footer #fsect1 {
    width: 230px;
    padding-left: 10px; }
    footer #fsect1 ul li {
      display: inline;
      text-align: center;
      width: 60px; }
    footer #fsect1 ul a {
      border-radius: 15px;
      display: inline-block;
      width: 30px;
      height: 30px;
      padding-top: 5px;
      margin-right: 60px; }
    footer #fsect1 ul a:last-child {
      margin-right: 30px; }
    footer #fsect1 ul a:hover {
      background-color: #a1a1a1; }
    footer #fsect1 #social-menu li a:hover {
      color: white; }
  footer #fsect2 {
    width: 180px; }
  footer #fsect3 {
    width: 240px; }
  footer #fsect4 {
    width: 310px; }
    footer #fsect4 input#e-mail {
      background-color: #666666;
      width: 240px; }
    footer #fsect4 input#SubscrOk {
      position: relative;
      background-color: #666666;
      width: 50px;
      left: -5px; }
    footer #fsect4 p {
      margin-top: 20px;
      margin-left: 140px; }

.main {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .main header {
    flex: 0 0 auto; }
  .main .content {
    flex: 1 0 auto; }
  .main footer {
    flex: 0 0 auto; }

/*# sourceMappingURL=main.css.map */
