@import "../scss/helpers/variables";
@import "../scss/base/reset";
@import "../scss/helpers/mixins";
@import "../scss/base/typography";
@import "../scss/components/buttons";
@import "../scss/components/dropdown";
@import "../scss/components/navigation";
@import "../scss/layout/grid";
@import "../scss/layout/forms";
@import "../scss/layout/header";
@import "../scss/layout/sidebar";
@import "../scss/layout/content";
@import "../scss/layout/footer";
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    flex: 0 0 auto;
  }
  .content {
    flex: 1 0 auto;
  }
  footer {
    flex: 0 0 auto;
  }
}
