div.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  height: 310px;
  margin: 0 auto;
  justify-content: space-between;
}
h1.gallery {
  font: {
    family: "Roboto Black";
    size: 48px;
  }
  margin: {
    left: 80px;
    right: 90px;
    top: 20px;
    bottom: 30px;
  }
  color: #333333;
  text-shadow: 4px 4px 4px #6a6a6a;
}
img.gallery {
  box-shadow: 5px 5px 5px #575757;
}