footer {
  background-color: #666666;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  section {
    color: white;
    h3 {
      font: {
        family: "Roboto Medium";
        size: 16px;
      }
    }
    a {
      color: white;
      text-decoration: none;
      font: {
        family: Roboto;
        size: 12px;
      }
    }
    a:hover {
      color: #7fffd4;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:focus {
      color: coral;
      text-decoration: none;
    }
    p {
      font: {
        family: Roboto;
        size: 12px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
    }
  }
  #fsect1 {
    width: 230px;
    padding: {
      left: 10px;
    }
    ul {
      li {
        display: inline;
        text-align: center;
        width: 60px;
      }
      a {
        border-radius: 15px;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-top: 5px;
        margin-right: 60px;
      }
      a:last-child {
        margin-right: 30px;
      }
      a:hover {
        background-color: #a1a1a1;
      }
    }
    #social-menu {
      li {
        a:hover {
          color: white;
        }
      }
    }
  }
  #fsect2 {
    width: 180px;
  }
  #fsect3 {
    width: 240px;
  }
  #fsect4 {
    width: 310px;
    input#e-mail {
      background-color: #666666;
      width: 240px;
    }
    input#SubscrOk {
      position: relative;
      background-color: #666666;
      width: 50px;
      left: -5px;
    }
    p {
      margin-top: 20px;
      margin-left: 140px;
    }
  }
}