.reg-form {
  margin: {
    top: 15px;
    left: 0;
  }
  label {
    font: {
      family: Roboto;
      size: 18px;
    }
    text-align: left;
    margin: {
      left: 10px;
      top: 10px;
      bottom: 0;
    }
    width: 220px;
    .sex {
    }
  }
  input {
    width: 220px;
    margin: {
      top: 10px;
      left: 10px;
      bottom: 0;
    }
  }
  input[type="radio"] {
    width: 160px;
  }
  .mf {
  }
}
.avatar {
  background-color: cadetblue;
}