header {
  background-color: rgba(0, 102, 0, 0.71);
  height: 70px;
  box-shadow: 0 10px 20px #484848;
  .logo {
    position: relative;
    top: 8px;
    left: 8px;
    border: solid black 2px;
  }
  #main-menu {
    position: relative;
    bottom: 19px;
    left: 170px;
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: #00cc00;
    li {
      margin-left: -3px;
    }
    a {
      width: 80px;
      height: 34px;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      text-decoration: none;
      font: {
        family: "Roboto Black";
        size: 16px;
        }
      border: {
        left: solid 1px gray;
        top: solid 1px gray;
        bottom: solid 1px gray;
      }
    }
    a:hover {
      background-color: #c4e953;
    }
  }
  #user-menu {
    position: relative;
    left: 790px;
    bottom: 75px;
    a {
      text-decoration: none;
      color: #33CC00;
      font:{
        family: "Roboto Medium";
      }
      width: 70px;
      }
    a:hover {
      color: #c4e953;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      text-align: center;
      #main-menu {
      }
      #user-menu {
      }
      a {
        display: inline-block;
      }
    }
  }
  form#form-search {
    position: relative;
    bottom: 70px;
    left: 650px;
    input#search-text {
      width: 220px;
    }
    input#search-submit {
      position: relative;
      left: 15px;
      width: 60px;
    }
  }
}