:root {
  padding: 0;
  margin: 0;
  background-color: $back-color;
  height: 100%;
}
body {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  background: {
    image: url("../images/background.jpg");
    repeat: no-repeat;
    
  }

}
